/* Primary color - #00B0FF */

body #login {
	width: 500px;
}

body.login .wp-login-header-wrapper h2 a {
	float: right;
}


body.login form {
	box-shadow: 0 8px 6px -6px black;
	padding: 35px;
	background: transparent;
	border: 1px solid #fff;
}

body.login label {
	margin-bottom: 15px;
	color: #ddd;
}

.login form .input, .login form input[type=checkbox], .login input[type=text]{
	background: transparent;
}

.login form .input:hover, .login form input[type=checkbox]:hover, .login input[type=text]:hover {
	background: #00B0FF;
}


body.login form .input, body.login input[type=text] {
	margin-top: 10px;
}

body.login form .forgetmenot, #login form p.submit {
	margin-top: 25px;
	padding-bottom: 10px;
}

body.login div#login form#loginform input#wp-submit{
	background-color: #00B0FF;
	display: inline-block;
	border: none;
	border-radius: .2em;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
	color: #fff;
	cursor: pointer;
	line-height: 1;
	letter-spacing: 1px;
	padding: .5em 1.5em .75em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
	vertical-align: middle;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
 }

body.login div#login form#loginform input#wp-submit:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    margin-top: .25em;
    padding-bottom: .5em; }

body.login div#login form#loginform input#wp-submit:active, body.login div#login form#loginform input#wp-submit:focus {
    outline: none; }



#nav, #backtoblog{
    display:none;
}

.login #login_error, .login .message {
	border-left: 3px solid red;
	border-bottom: 1px solid red;
	box-shadow: 0 8px 6px -6px black;
}

body.login .wp-login-header-wrapper h2 a {
	float: right;
	/*background-image: url('/assets/images/site-logo.jpg');*/
}

body.login .wp-login-footer-wrapper {
	width: 100%;
	margin-top: 50px;
	background: #00B0FF;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	position: fixed;
	bottom: 25px;
}

body.login .wp-login-footer-wrapper ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body.login .wp-login-footer-wrapper ul li{
	   display: inline;
}

body.login .wp-login-footer-wrapper ul li::before {
  content: ' ';
  /*
  this content is important only for Crome in case the HTML will be minified with no whitespaces between </li><li>
  */
}

body.login .wp-login-footer-wrapper ul li::after {
  content: ' ';
  white-space: normal;
  word-spacing: 1em; /* = nav@padding-right - this actually makes width */
  background-image: radial-gradient(circle, black, black 7%, transparent 15%, transparent 35%, black 45%, black 48%, transparent 55%);
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}

body.login .wp-login-footer-wrapper ul li a{
	color: #fff;
	text-decoration: none;
	white-space: nowrap; /* here */
	display: inline-block; /* to allow padding */
	padding: 1em;
	transition-property: background-color;
	transition-duration: 500ms;
}
